*{
    padding: 0;
    margin: 0;
}
h3{
    width: 960px;
    height: 100px;
    background: #eeeeee;
    margin:0 auto;
    margin-top:50px;
    text-align: center;
    line-height: 100px;
}
#img-box{
    width: 960px;
    margin: 50px auto 0px;
}
#img-box img{
    width: 960px;
    display: block;
}
#img-box .img_960,#img-box .img_480{
    display: none;
}
#content{
    width: 960px;
    margin:0 auto;
    overflow: hidden;
}
#content div{
    height: 300px;
    display: table;
}
/* 多行文本垂直居中：
    父元素  display: table;
    子元素  display: table-cell;
           vertical-align: middle; 
*/
#content div p{
    display: table-cell;
    vertical-align: middle; /*在父元素中部对齐  居中*/
    text-align: center;   /*文字居中 */
}
#left{
    width: 630px;
    background: #ff0000;
    float: left;
}
#right{
    width: 300px;
    float: right;
    background: #00ffff;
}
@media screen and (max-width:960px){
    h3{
        width: 100%;
    }
    #img-box{
        width: 100%;
    }
    #img-box .img_480,#img-box .img_100{
        display: none;
    }
    #img-box .img_960{
        display: block;
        width: 100%;
    }
    #content{
        width: 100%;
    }
    #left{
        width: 66%;
    }
    #right{
        width: 31%;
    }
}
@media screen and (max-width: 480px) {
    #img-box .img_100,#img-box .img_960{
        display: none;
    }
    #img-box .img_480{
        display: block;
        width: 100%;
    }
    #left,#right{
        width: 100%;
    }
}